@charset "UTF-8";
/* -------------------------------------------- */
/* リセットCSS */
/* -------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
/* 色の設定 */
body {
  font-family: sans-serif;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #333;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

/* 基本のボタンの形 */
.btn {
  color: #333;
  font-size: 1.125rem;
  display: block;
  border: 1px solid #000;
  border-radius: 6px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 80%;
  margin: 0 auto;
}

.btn:hover {
  background-color: #0068B7;
  color: #fff;
}

.signUp_btn {
  background-color: #FDD000;
  font-weight: bold;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.signUp_btn:hover {
  background-color: #333;
  color: #FDD000;
}

.login_btn {
  background-color: #fff;
  font-weight: normal;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login_btn:hover {
  background-color: #D4E9F4;
  color: #333;
}

/* セクション */
section {
  padding: 24px 0;
  /* セクションタイトル */
}

section .section_title {
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 24px;
  /* 下の英語の見出し */
}

section .section_title .en_title {
  font-size: 0.75rem;
  color: #5C5C5C;
  display: block;
}

section:nth-of-type(even) {
  background-color: #D4E9F4;
}

@media (min-width: 575px) {
  body {
    font-size: 1rem;
  }
  /* 基本のボタンの形 */
  .btn {
    font-size: 1.125rem;
    padding: 24px;
    width: 50%;
  }
  /* セクション */
  section {
    padding: 40px 0;
    /* セクションタイトル */
  }
  section .section_title {
    font-size: 1.875rem;
    margin-bottom: 36px;
    /* 下の英語の見出し */
  }
  section .section_title .en_title {
    font-size: 0.8125rem;
  }
}

@media (min-width: 1025px) {
  /* 基本のボタンの形 */
  .btn {
    font-size: 1.25rem;
    padding: 24px;
    width: 50%;
  }
  /* セクション */
  section {
    padding: 56px 0;
    /* セクションタイトル */
  }
  section .section_title {
    font-size: 2rem;
    margin-bottom: 48px;
    /* 下の英語の見出し */
  }
  section .section_title .en_title {
    font-size: 0.875rem;
  }
}

/* -------------------------------------------- */
/* レスポンシブ用メニュー */
/* -------------------------------------------- */
/* バーガーアイコン */
.burger {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  z-index: 11;
  border: 1px solid yellow;
  /* クリック後の動き */
}

.burger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14%;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  background: gold;
  width: 70%;
  -webkit-transform: rotateY(-50%);
          transform: rotateY(-50%);
}

.burger span:nth-of-type(1) {
  top: 13px;
  top: 18%;
}

.burger span:nth-of-type(2) {
  top: 19px;
  top: 41%;
}

.burger span:nth-of-type(3) {
  top: 25px;
  top: 64%;
}

.burger span:nth-of-type(3)::after {
  content: "Menu";
  display: block;
  position: absolute;
  top: 5px;
  left: -5px;
  left: 0%;
  color: #fff;
  font-size: 0.625rem;
  text-transform: uppercase;
}

.burger.active span:nth-of-type(1) {
  top: 30%;
  left: 14%;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 70%;
}

.burger.active span:nth-of-type(2) {
  opacity: 0;
}

.burger.active span:nth-of-type(3) {
  top: 53%;
  left: 14%;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 70%;
}

.burger.active span:nth-of-type(3)::after {
  content: "Close";
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  top: 7px;
  left: 40%;
}

/* ハンバーガーメニュー */
.sp_nav_wrapper {
  padding-top: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  right: 120%;
  height: 100%;
  z-index: 10;
  -webkit-transition: all .4s;
  transition: all .4s;
  overflow-y: scroll;
}

.sp_nav_wrapper ul li:first-child {
  border-top: 1px solid #fff;
}

.sp_nav_wrapper ul li a {
  display: block;
  text-decoration: none;
  padding: 24px 16px;
  -webkit-transition: .4s;
  transition: .4s;
  border-bottom: 1px solid #fff;
  font-size: 1.25rem;
}

.sp_nav_wrapper p {
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 1.25rem;
}

.sp_nav_wrapper.active {
  right: 0;
}

/* スマホ用の固定フッター */
.sp_fixed_footer_wrapper {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  /* フッターの会員登録ボタン,ログインボタン */
}

.sp_fixed_footer_wrapper .signUp_btn,
.sp_fixed_footer_wrapper .login_btn {
  width: 49%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: normal;
  font-size: 0.875rem;
  padding: 10px;
}

.sp_fixed_footer_wrapper .signUp_btn span,
.sp_fixed_footer_wrapper .login_btn span {
  display: block;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 575px) {
  /* バーガーアイコン */
  .burger {
    width: 70px;
    height: 70px;
    /* クリック後の動き */
  }
  .burger span:nth-of-type(3)::after {
    position: absolute;
    font-size: 0.875rem;
  }
  .burger.active span:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    top: 30%;
    left: 14%;
  }
  .burger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .burger.active span:nth-of-type(3) {
    top: 30%;
    left: 14%;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
  }
  .burger.active span:nth-of-type(3)::after {
    content: "Close";
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    top: 30%;
    left: 14%;
    display: none;
  }
  /* スマホ用の固定フッター */
  .sp_fixed_footer_wrapper {
    display: none;
  }
}

/* -------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------- */
header {
  width: 100%;
  background: #0068B7;
}

header .sp_header {
  width: 100%;
  height: 100%;
  padding: 8px 0;
  /* ロゴ */
}

header .sp_header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .sp_header h1 {
  width: 150px;
}

header .pc_header, header .header_nav {
  display: none;
}

@media (min-width: 575px) {
  header {
    width: 100%;
    background: #0068B7;
  }
  header .sp_header {
    width: 100%;
    height: 100%;
    padding: 16px 4%;
    /* ロゴ */
  }
  header .sp_header .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  header .sp_header h1 {
    width: 220px;
  }
  header .pc_header {
    display: none;
  }
  header .header_nav {
    display: block;
    background-color: #fff;
    font-size: 0.875rem;
  }
  header .header_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_nav ul li {
    padding: 32px 0;
  }
  header .header_nav ul li:not(:last-child):after {
    content: "|";
    padding: 0 16px;
  }
  header .header_nav ul li a {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  header .header_nav ul li a:hover {
    color: #0068B7;
  }
}

@media (min-width: 1025px) {
  header {
    /* PC用ヘッダー */
  }
  header .sp_header {
    display: none;
  }
  header .pc_header {
    display: block;
  }
  header .pc_header .pc_header_container .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 4%;
    /* ロゴ */
  }
  header .pc_header .pc_header_container .inner h1 {
    width: 300px;
  }
  header .pc_header .pc_header_container .inner .pc_btn_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .pc_header .pc_header_container .inner .pc_btn_wrapper .signUp_btn,
  header .pc_header .pc_header_container .inner .pc_btn_wrapper .login_btn {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: normal;
    font-size: 1.25rem;
    width: 250px;
    padding: 10px;
  }
  header .pc_header .pc_header_container .inner .pc_btn_wrapper .signUp_btn span,
  header .pc_header .pc_header_container .inner .pc_btn_wrapper .login_btn span {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
  }
  header .pc_header .pc_header_container .inner .pc_btn_wrapper .login_btn {
    margin-left: 24px;
  }
  header .header_nav {
    font-size: 1rem;
  }
}

/* -------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mv {
  padding: 24px 0;
  background: url(../images/sp_mv.png) center/cover no-repeat;
  /* 検索スペース */
}

.mv .search_wrapper {
  display: block;
  padding: 16px;
  background-color: rgba(212, 233, 244, 0.8);
  border-radius: 6px;
  width: 100%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  /* インプット系パーツ */
  /* 検索ボタン */
  /* 条件入力欄 */
  /* セレクトボックス */
  /* 地域 */
  /* 結果の欄 */
  /* 検索結果のボタン */
}

.mv .search_wrapper p {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.mv .search_wrapper p:nth-of-type(2) {
  border-top: 2px solid #707070;
  padding-top: 16px;
  margin-top: 16px;
}

.mv .search_wrapper p .fas {
  margin-right: 5px;
}

.mv .search_wrapper input[type="text"],
.mv .search_wrapper select,
.mv .search_wrapper .region {
  border-radius: 6px;
  border: 1px solid #707070;
  font-size: 0.875rem;
  height: 40px;
  background-color: #fff;
}

.mv .search_wrapper .search_btn {
  background-color: #0068B7;
  color: #fff;
  width: auto;
  height: 40px;
  margin: 0;
  line-height: 40px;
  padding: 0 16px;
}

.mv .search_wrapper .search_btn:hover {
  background-color: #fff;
  color: #0068B7;
}

.mv .search_wrapper .input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mv .search_wrapper .input_wrapper input {
  width: 230px;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  margin-right: 8px;
  padding-left: 8px;
}

.mv .search_wrapper select {
  width: 80px;
  margin-bottom: 8px;
  overflow-x: scroll;
}

.mv .search_wrapper .region {
  display: inline-block;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  font-family: Arial;
  line-height: 40px;
  padding: 0 4px;
}

.mv .search_wrapper .region .fas {
  margin-left: 5px;
  font-size: 0.75rem;
}

.mv .search_wrapper .result {
  margin-bottom: 8px;
}

.mv .search_wrapper .result .result_area {
  width: 80px;
  height: 40px;
  margin: 0 8px;
  vertical-align: bottom;
}

.mv .search_wrapper .go_result_btn {
  width: 100%;
  background-color: #0068B7;
  color: #fff;
  margin-bottom: 16px;
  padding: 0;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.mv .search_wrapper .go_result_btn:hover {
  background-color: #fff;
  color: #0068B7;
  border-radius: 6px;
}

.mv .search_wrapper .others a {
  color: #0068B7;
  font-weight: bold;
  margin-right: 5px;
}

/* 地域のモーダル */
.map {
  background-color: #000;
  width: 100%;
  height: 100%;
  padding: 24px;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 100;
  overflow-y: scroll;
  /* 日本地図 */
}

.map .japan_map {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .4;
  z-index: -1;
}

.map .japan_map img {
  width: 100%;
  max-width: 1000px;
  max-height: 870px;
  -o-object-fit: cover;
     object-fit: cover;
}

.map .area_wrapper {
  position: relative;
}

.map .area_wrapper .fas {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.625rem;
}

.map .area {
  margin-bottom: 10px;
  color: #fff;
}

.map .area .area_title {
  font-size: 1.125rem;
  margin-bottom: 16px;
  line-height: 1;
}

.map .area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map .area ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.map .area ul li:hover {
  cursor: pointer;
}

@media (min-width: 575px) {
  .mv {
    padding: 48px 0;
    /* 検索スペース */
  }
  .mv .search_wrapper {
    padding: 24px;
    max-width: 600px;
    margin: 0 auto;
    /* インプット系パーツ */
    /* 条件入力欄 */
    /* セレクトボックス */
    /* 結果の欄 */
    /* 検索結果のボタン */
  }
  .mv .search_wrapper p {
    font-size: 1.5rem;
    margin-bottom: 24px;
  }
  .mv .search_wrapper p:nth-of-type(2) {
    padding-top: 32px;
    margin-top: 32px;
  }
  .mv .search_wrapper p .fas {
    margin-right: 8px;
  }
  .mv .search_wrapper input[type="text"],
  .mv .search_wrapper select,
  .mv .search_wrapper .region {
    font-size: 1rem;
  }
  .mv .search_wrapper .input_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mv .search_wrapper .input_wrapper input {
    width: 240px;
  }
  .mv .search_wrapper select {
    width: 100px;
    margin-bottom: 16px;
  }
  .mv .search_wrapper .result {
    margin-bottom: 16px;
  }
  .mv .search_wrapper .result .result_area {
    width: 80px;
    height: 40px;
    margin: 0 8px;
    vertical-align: bottom;
  }
  .mv .search_wrapper .go_result_btn {
    width: 80%;
    margin-bottom: 32px;
  }
  /* 地域のモーダル */
  .map {
    padding: 32px;
  }
  .map .area_wrapper .fas {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.625rem;
  }
  .map .area {
    margin-bottom: 10px;
    color: #fff;
  }
  .map .area .area_title {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .map .area ul li {
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .mv {
    padding: 48px 0;
    background: url(../images/pc_mv.png) center/cover no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    height: 800px;
    position: relative;
    /* 検索スペース */
  }
  .mv .search_wrapper {
    padding: 24px;
    max-width: 600px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .mv .search_wrapper .map {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

/* -------------------------------------------- */
/* お知らせ */
/* -------------------------------------------- */
.news .news_list li {
  border-bottom: 1px dotted #5C5C5C;
  padding: 8px;
  padding-bottom: 4px;
}

.news .news_list li a {
  display: block;
}

.news .news_list li a time {
  display: block;
  color: #5C5C5C;
  font-size: 0.75rem;
}

.news .news_list li:last-child {
  margin-bottom: 32px;
}

@media (min-width: 575px) {
  .news .news_list {
    max-width: 700px;
    margin: 0 auto;
  }
  .news .news_list li {
    padding: 16px;
    padding-bottom: 8px;
  }
  .news .news_list li a time {
    display: inline-block;
    font-size: 0.875rem;
    margin-right: 24px;
  }
}

/* -------------------------------------------- */
/* サービス */
/* -------------------------------------------- */
.service .service_item_container .service_item {
  margin-bottom: 32px;
}

.service .service_item_container .service_item .service_image_wrapper {
  width: 100%;
  margin-bottom: 12px;
}

.service .service_item_container .service_item .service_text_wrapper {
  /* 見出し */
  /* 本文 */
}

.service .service_item_container .service_item .service_text_wrapper .text_heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.25rem;
}

.service .service_item_container .service_item .service_text_wrapper li:nth-child(2) {
  color: #5C5C5C;
}

.service .service_item_container .service_item .service_text_wrapper .btn {
  margin-top: 32px;
}

@media (min-width: 575px) {
  .service .service_item_container .service_item {
    margin-bottom: 40px;
  }
  .service .service_item_container .service_item:last-child {
    margin-bottom: 32px;
  }
  .service .service_item_container .service_item .service_image_wrapper {
    margin-bottom: 24px;
  }
  .service .service_item_container .service_item .service_text_wrapper {
    /* 見出し */
    /* 本文 */
  }
  .service .service_item_container .service_item .service_text_wrapper .text_heading {
    margin-bottom: 24px;
    font-size: 1.5rem;
  }
  .service .service_item_container .service_item .service_text_wrapper li:nth-child(2) {
    color: #5C5C5C;
  }
  .service .service_item_container .service_item .service_text_wrapper .btn {
    margin-top: 40px;
  }
}

@media (min-width: 1025px) {
  .service .service_item_container .service_item {
    margin-bottom: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 本文 */
  }
  .service .service_item_container .service_item .service_image_wrapper {
    margin-bottom: 0px;
    width: 50%;
  }
  .service .service_item_container .service_item .service_image_wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service .service_item_container .service_item .service_text_wrapper {
    width: 50%;
    min-height: 300px;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* 見出し */
  }
  .service .service_item_container .service_item .service_text_wrapper .text_heading {
    margin-bottom: 24px;
    font-size: 1.75rem;
  }
  .service .service_item_container .service_item .service_text_wrapper .btn {
    width: 250px;
  }
  .service .service_item_container .service_item:last-child {
    margin-bottom: 32px;
  }
  .service .service_item_container .service_item:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

/* -------------------------------------------- */
/* 注目の求人 */
/* -------------------------------------------- */
.recruit .recruit_item_wrapper {
  border: 2px solid #cacaca;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  height: 70px;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.recruit .recruit_item_wrapper .icon_wrapper {
  width: 30%;
  height: 100%;
  text-align: center;
  z-index: 3;
  border-right: 2px solid #cacaca;
}

.recruit .recruit_item_wrapper .icon_wrapper img {
  text-align: center;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recruit .recruit_item_wrapper .recruit_text_wrapper {
  z-index: 3;
  width: 70%;
  padding: 10px;
  position: relative;
}

.recruit .recruit_item_wrapper .recruit_text_wrapper .recruit_title {
  font-weight: bold;
  font-size: 1rem;
  z-index: 3;
}

.recruit .recruit_item_wrapper .recruit_text_wrapper .more {
  position: absolute;
  bottom: 10%;
  right: 3%;
}

.recruit .recruit_item_wrapper .recruit_text_wrapper .more .fas {
  margin-left: 4px;
}

.recruit .recruit_item_wrapper:last-child {
  margin-bottom: 0px;
}

.recruit .btn {
  margin: 32px auto;
}

.btn_effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #D4E9F4;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.btn_effect:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media (min-width: 800px) {
  .recruit .recruit_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recruit .recruit_item_wrapper {
    width: 49%;
    margin-bottom: 30px;
    height: 90px;
  }
  .recruit .recruit_item_wrapper .recruit_text_wrapper .recruit_title {
    font-size: 1.125rem;
  }
  .recruit .recruit_item_wrapper:last-child {
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) {
  .recruit .recruit_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recruit .recruit_item_wrapper {
    width: 49%;
    margin-bottom: 32px;
    height: 90px;
  }
  .recruit .recruit_item_wrapper .recruit_text_wrapper .recruit_title {
    font-size: 1.125rem;
  }
  .recruit .recruit_item_wrapper:last-child {
    margin-bottom: 40px;
  }
  .recruit .btn {
    width: 30%;
  }
}

/* -------------------------------------------- */
/* インタビュー */
/* -------------------------------------------- */
.interview {
  background-color: #D4E9F4;
}

.interview .interview_container {
  margin-bottom: 32px;
}

.interview .interview_container .interview_wrapper {
  padding: 30px 0;
  background-color: #F4F4F4;
  position: relative;
  border-radius: 6px;
  margin-bottom: 30px;
  min-height: 360px;
  width: 100%;
  /* 名前 */
  /* 本文 */
  /* ラベル */
}

.interview .interview_container .interview_wrapper:last-child {
  margin-bottom: 0;
}

.interview .interview_container .interview_wrapper .interview_image, .interview .interview_container .interview_wrapper .interview_name {
  text-align: center;
  margin-bottom: 12px;
}

.interview .interview_container .interview_wrapper .interview_name {
  font-weight: bold;
  font-size: 1rem;
}

.interview .interview_container .interview_wrapper .interview_content {
  width: 90%;
  margin: 0 auto;
  color: #5C5C5C;
}

.interview .interview_container .interview_wrapper .label {
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  padding: 6px 10px;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #0068B7;
  color: #fff;
}

@media (min-width: 1025px) {
  .interview {
    background-color: #D4E9F4;
  }
  .interview .interview_container {
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .interview .interview_container .interview_wrapper {
    margin-bottom: 0px;
    width: 31%;
    /* 名前 */
  }
  .interview .interview_container .interview_wrapper .interview_image, .interview .interview_container .interview_wrapper .interview_name {
    margin-bottom: 16px;
  }
  .interview .interview_container .interview_wrapper .interview_name {
    font-size: 1.125rem;
  }
}

/* -------------------------------------------- */
/* よくある質問 */
/* -------------------------------------------- */
.question .faq_wrapper {
  width: 100%;
  margin-bottom: 32px;
}

.question .faq_wrapper li {
  border: 1px solid #ddd;
  margin-bottom: 16px;
}

.question .faq_wrapper li p {
  padding: 3% 0 3% 50px;
}

.question .faq_wrapper li .q {
  position: relative;
  cursor: pointer;
}

.question .faq_wrapper li .q::after, .question .faq_wrapper li .q::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #333;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.question .faq_wrapper li .q::before {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.question .faq_wrapper li .q::after {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.question .faq_wrapper li .q.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.question .faq_wrapper li .q.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.question .faq_wrapper li .answer {
  background: #D4E9F4;
  display: none;
}

.question .guide {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.question .signUp_btn {
  margin-bottom: 32px;
}

.question .signUp_btn:hover {
  background-color: #333;
  color: #FDD000;
}

@media (min-width: 575px) {
  .question .faq_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
  .question .faq_wrapper li {
    border: 1px solid #ddd;
    margin-bottom: 16px;
  }
  .question .faq_wrapper li p {
    padding: 3% 0 3% 50px;
  }
  .question .faq_wrapper li .q {
    position: relative;
    cursor: pointer;
  }
  .question .faq_wrapper li .q::after, .question .faq_wrapper li .q::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #333;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .question .faq_wrapper li .q::before {
    top: 48%;
    left: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .question .faq_wrapper li .q::after {
    top: 48%;
    left: 15px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .question .faq_wrapper li .q.close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .question .faq_wrapper li .q.close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .question .faq_wrapper li .answer {
    background: #D4E9F4;
    display: none;
  }
  .question .guide {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

@media (min-width: 1025px) {
  .question .faq_wrapper {
    margin-bottom: 64px;
  }
  .question .signUp_btn {
    width: 30%;
  }
}

/* -------------------------------------------- */
/* フッター */
/* -------------------------------------------- */
footer {
  padding: 40px 0 60px;
  margin-bottom: 60px;
  background-color: #0068B7;
  color: #fff;
}

footer .sp_footer_nav {
  /* フッターナビ */
}

footer .sp_footer_nav .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
}

footer .sp_footer_nav .footer_menu li::after {
  content: "|";
  margin: 0 4px;
}

footer .footer_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

footer .footer_info_wrapper .footer_logo_wrapper {
  width: 38%;
}

footer .footer_info_wrapper .footer_logo_wrapper img {
  width: 100%;
}

footer .footer_info_wrapper .info {
  width: 60%;
  font-size: 0.75rem;
}

footer .copy {
  font-size: 0.75rem;
  text-align: center;
}

footer .pc_only_footer_wrapper {
  display: none;
}

@media (min-width: 575px) {
  footer {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  footer {
    padding: 30px 0;
  }
  footer .sp_only_footer_wrapper {
    display: none;
  }
  footer .copy {
    font-size: 0.875rem;
  }
  footer .pc_only_footer_wrapper {
    display: block;
    font-size: 0.875rem;
  }
  footer .pc_only_footer_wrapper ul li a {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  footer .pc_only_footer_wrapper ul li a:hover {
    opacity: .6;
  }
  footer .pc_footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
  }
  footer .pc_footer_nav .info {
    width: 28%;
  }
  footer .pc_footer_nav .info li img {
    width: 150px;
  }
  footer .pc_footer_nav .footer_news {
    width: 40%;
  }
  footer .pc_footer_nav .footer_recruit {
    width: 30%;
  }
  footer .pc_footer_nav .list_title {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 1rem;
    display: inline-block;
  }
  footer .pc_footer_nav li {
    margin-bottom: 8px;
  }
  footer .pc_footer_nav li a {
    margin-right: 8px;
  }
  footer .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }
  footer .footer_menu li {
    margin-right: 16px;
  }
}

@media (min-width: 1025px) {
  footer {
    margin-bottom: 0;
  }
}

/* -------------------------------------------- */
/* topへ戻るボタン */
/* -------------------------------------------- */
.to_top {
  background-color: #000;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  opacity: .6;
  border-radius: 50%;
  position: fixed;
  bottom: 90px;
  right: 0;
}

.to_top a {
  width: 100%;
  font-size: 0.625rem;
  color: #fff;
  line-height: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.to_top i {
  font-size: 1.125rem;
  display: block;
}

@media (min-width: 575px) {
  .to_top {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 0;
  }
  .to_top a {
    font-size: 0.875rem;
  }
  .to_top i {
    font-size: 1.25rem;
  }
}

@media (min-width: 1025px) {
  .to_top {
    width: 80px;
    height: 80px;
  }
  .to_top a {
    font-size: 1rem;
  }
  .to_top i {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */