@charset "UTF-8";
*{
  box-sizing: border-box;
}

html{
  font-size: 100px;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}


.inner{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 4%;
}

@mixin w{
  border: 3px solid gold;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */

/* 色 */
$mainColor: #fff8ee;
$subColor: #d3e9d0;
$textColor: #6d4227;
$accentColor: #FED5D5;

body {
  // font-family:"ヒラギノ丸ゴ ProN",sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size : calc(0.16em * 0.9);
  color: $textColor;
  line-height: 1.5;
  letter-spacing: 0.05em;
  position: relative;
}

/* -------------------------------------------- */
/* 共通パーツ */
/* -------------------------------------------- */

/* 見出し */
.heading{
  text-align: center;
  font-size: 0.2rem;
  margin-bottom: 0.2rem;
}

/* セクション */
section{
  padding: 0.2rem 0;
}

/* セクションのタイトル */
.section_heading{
  text-align: center;

  /* セクションのハート */
  &:before{
    content: "";
    background: url(../images/heart_icon@2x.png) center/cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
  }
}

/* ボタンの基本形 */
.btn{
  display: block;
  text-align: center;
  border-radius: 4px;
  transition: all .4s;
  border: 1px solid $textColor;
}

/* 予約ボタン */
.reservation_btn{
  background-color: $accentColor;
  height: 80px;
  line-height: 80px;
  width: 260px;
  font-size: calc(0.32rem * 100 / 200);
}

/* メニューボタン */
.menu_btn{
  background: $subColor;
  border-radius: 50%;
  cursor: pointer;
}

/* 丸 */
.round{
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    border: 1px solid $textColor;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    margin-right: 5px;

    i{
      display: inline-block;
      position: absolute;
      top: 55%;
      left: 38%;
      transform: translateY(-50%);
    }
  }
}

h3{
  font-size: 0.18rem;
  text-align: center;
  margin-bottom: 32px;
}

/* 診察時間の表 */
.time_table{
  border: 1px solid $textColor;
  border-collapse: collapse;
  width: 100%;

  tr:first-child{
    background: $subColor;
    font-size: 0.16rem;
  }
  
  td, th{
    text-align: center;
    padding:  4px;
  }
}

.attention{
  font-size: 0.12rem;
}

/* 矢印 (>これ) */
.arrow::after{
  content: '';
  position: absolute;
  top:42%;
  right: 30px;
  top: 45%;
  width: 5px;
  height: 5px;
  border-top: 3px solid $textColor;
  border-right: 3px solid $textColor;
  transform: rotate(45deg);
  transition: all .3s;
}

.arrow:hover::after{
  right: 11px;
}

/* タブレット用 */
@media (min-width: 600px){
  html{
    font-size: 200px;
  }

  body{
    font-size: calc(0.16em * 100 / 200); 
  }
  
  /* 見出し */
  .heading{
    font-size: calc(0.28rem * 100 / 200);
  }
  
  /* セクションのタイトル */
  .section_heading{
  
    /* セクションのハート */
    &:before{
      width: 40px;
      height: 40px;
    }
  }
  
  /* ボタンの基本形 */
  .btn{
  
    &:hover{
      background-color: #fff;
    }
  }

  /* 丸 */
  .round{
  
    span{
      width: 20px;
      height: 20px;
  
      i{
        top: 50%;
        left: 38%;
        transform: translateY(-50%);
      }
    }
  }

  h3{
    font-size: calc(0.20rem * 100 / 200);
  }

  /* 診察時間の表 */
  .time_table{
    border: 1px solid $textColor;
    border-collapse: collapse;
    width: auto;

    tr:first-child{
      background: $subColor;
      font-size: calc(0.18rem * 100 / 200);;
    }
    .open_time{
      text-align: center;
    }
    
    td, th{
      padding: 8px 10px;
    }
  }

  .attention{
    font-size: calc(0.14rem * 100 / 200);
  }
}

/* PC用 */
@media (min-width: 1025px) {
  html{
    font-size: 200px;
  }

  body{
    font-size: calc(0.16em * 100 / 200); 
  }
  /* 見出し */
  .heading{
    font-size: calc(0.32rem * 100 / 200);
  }

  /* セクションのタイトル */
  .section_heading{
  
    /* セクションのハート */
    &:before{
      width: 50px;
      height: 50px;
    }
  }

  h3{
    font-size: calc(0.24rem * 100 / 200);
  }
}

/* -------------------------------------------- */
/* ロゴと連絡先のかたまり */
/* -------------------------------------------- */

/* 電話番号とボタンのセット */
.reservation_container{
  display: none;
}

@media (min-width: 600px){
  /* 電話番号とボタンのセット */
  .reservation_container{
    display: flex;

    /* 電話番号 */
    .phone_number{
      margin-right: 24px;

      img{
        width: 260px;
      }
    }

    .reservation_wrapper{

      span{
        font-size: calc(0.12rem * 100 / 200);
      }
    }
  }
}

@media (min-width: 1025px){
  .info_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
}

/* -------------------------------------------- */
/* メニュー(サイドバーにも流用) */
/* -------------------------------------------- */
.menu_wrapper{
  border: 1px solid $textColor;
  margin-bottom: 0.2rem;
  border-radius: 4px;
  background: #fff;

  li{
    width: 100%;
    a{
      padding: 0.09rem;
      display: block;
      transition: all .3s;
      &:hover{
        background-color: $subColor;
      } 
    }
    &:not(:last-child){
      border-bottom: 1px solid $textColor;
    }
  }
  
  .menu_title{
    padding: 0.09rem;
    background: $subColor;
    text-align: center;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
  }
}
/* -------------------------------------------- */
/* ロゴ */
/* -------------------------------------------- */
.logo_wrapper{
  .logo_image_wrapper{
    img{
      width: 200px;
    }
  }
  p{
    font-size: calc(0.1rem * 0.9);
    margin-bottom: 0.1rem;
  }
}

/* タブレット用 */
@media (min-width: 600px){
  .logo_wrapper{
    .logo_image_wrapper{
      img{
        width: 300px;
      }
    }
    p{
      font-size: calc(0.12rem * 100 / 200);
    }
  }
}

/* PC用 */
@media (min-width: 1025px){
  .logo_wrapper{
    .logo_image_wrapper{
      img{
        width: 380px;
      }
    }

    p{
      font-size: calc(0.12rem * 100 / 200);
    }
  }
}

/* -------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------- */
header{
  width: 100%;

  /* ヘッダーの小さい方のナビ */
  .header_sub_nav_wrapper{
    ul{
      display: none;
    }
  }

  /* ヘッダーナビ */
  .header_nav_wrapper{
    ul{
      display:none;
    }
  }
}

.tb_menu_btn{
  display: none;
}

/* タブレット用 */
@media (min-width: 600px){
  /* タブレットサイズ用のメニューボタン */
  .tb_menu_btn{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size:calc(0.3rem * 100 / 200);
    position: fixed;
    top: 4%;
    right: 10%;
    z-index: 1;
  }
}

/* PC用 */
@media (min-width: 1025px) {
  header{
    width: 100%;
  
    /* ヘッダーの小さい方のナビ */
    .header_sub_nav_wrapper{
      margin-bottom: 16px;
      ul{
        display: flex;
        justify-content: flex-end;

        li{
          font-size: 12px;
          margin-left: 16px;
          transition: all .4s;
            &:hover{
              color: $subColor;
            }
        }
      }
    }

    /* ヘッダーナビ */
    .header_nav_wrapper{
      background-color: $subColor;
      width: 100%;
      ul{
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        li{
          width: 24%;
          a{
            display: block;
            width: 100%;
            height: 80px;
            line-height: 80px;
            transition: all .4s;
            text-align: center;
            &:hover{
              background-color: rgba(255, 255, 255, .7);
            }
          }
        }
      }
    }
  }

  .tb_menu_btn{
    display: none;
  }
}


/* -------------------------------------------- */
/* フッター */
/* -------------------------------------------- */
footer{
  background-color: $subColor;
  margin-bottom: 72px;
  padding: 0.2rem 0;

  .info_wrapper{
    margin-bottom: 32px;
  }

  .footer_menu_title{
    margin-bottom: 8px;
  }

  .footer_menu{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.08rem;
    font-size: 0.12rem;

    li{
      margin-right: 8px;
    }

    &:last-of-type{
      margin-bottom: 32px;
    }
  }

  .copy{
    text-align: center;
    font-size: 0.12rem;
  }
}

/* タブレット用 */
@media (min-width: 600px) {
  footer{
    margin-bottom: 0;

    .footer_menu{
      font-size: calc(0.16rem * 100 / 200);
    }

    .copy{
      font-size: calc(0.12rem * 100 / 200);
    }
  }
}

/* -------------------------------------------- */
/* スマホ用メニュー */
/* -------------------------------------------- */
/* メニューボタン */
.sp_menu_btn{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 0.24rem;
  position: absolute;
  top: 16px;
  right: 10%;
}

/* レスポンシブ用メニュー */
/* メニューの幅 */
.menu_wrapper{
  width: 100%;
  position: relative;
}

#burger_menu{
  position: absolute;
  width: 60%;
  right: 0;
  top: 8%;
}

/* モーダル */
#modal{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  right: -120%;
  z-index: 1;
  transition: all 0.6s;
	
  /* 閉じるボタン */
  #close{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    text-align: center;
    right: 4%;
    top: 3%;
    font-size: 18px;
    color: #fff;
    z-index: 2;

    .fa-times{
      font-size: 20px;
      margin-right: 5px;
      display: block;
    }
  }
}

#modal.modalactive{
  right: 0;
}

/* スマホ用固定ヘッダー */
#sp_fixed_nav{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, .6);
  padding: 2%;

  .logo_image_wrapper{
    width: 150px;
  }

  .sp_menu_btn{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.2rem;
    right: 14%;
    top: 25%;
  }
}

/* タブレット用 */
@media (min-width: 600px){
  #sp_fixed_nav{
    opacity: 0;
    z-index: -1;
  }
}

/* 固定フッター */
.sp_reservation_container{
  padding: 2%;
  display: flex;
  justify-content: space-between; 
  background-color: $subColor;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  .sp_footer{
    width: 49%;
    height: 60px;
    border: 2px solid $textColor;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
  }

  /* 電話番号 */
  .sp_phone_number_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    a{
      display: block;

      p{
        font-size: 0.14rem;
  
        .fas{
          margin-right: 4px;
        }
  
        &:first-child{
          font-size: 0.12rem;
        }
      }
    }
  }

  /* 予約ボタン */
  .sp_reservation_wrapper{
    .sp_reservation_btn{
      height: 100%;
      a{
        height: 100%;
        line-height: 60px;
        display: block;
        font-size: 0.16rem;
      }
    }
  }
}

/* タブレット用 */
@media (min-width: 600px){
  .sp_reservation_container{
    display: none;
  }
  .sp_menu_btn{
    display: none;
  }
}

/* -------------------------------------------- */
/* 下層ページ用共通パーツ */
/* -------------------------------------------- */

/* メインビジュアルと見出し */
.mv{
  height: 200px;
  width: 100%;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    font-size : 0.2rem;
    padding: 0.18rem;
    width: 300px;
  }
}

.lower_page{
  background-color: $mainColor;
  padding: 0.4rem 0;

  .main_wrapper{
  
    /* 記事ページ */
    article{
      width: 100%;
      border: 1px solid $textColor;
      background-color: #fff;
      border-radius: 4px;
      padding: 0 0.16rem;

      /* 予約用 */
      .reservation_container{
        padding: 24px;
        margin-bottom: 32px;
      }
    }

    aside{
      display: none;
    }
  }
}

/* 予約 */
.reservation{
  
    /* 電話番号情報 */
    .phone{
      margin-bottom: 16px;

      li{
        &:first-child{
          margin-bottom: 5px;
          border-bottom: 1px solid $textColor;
          display: inline-block;
        }

        .fas{
          margin-right: 5px;
        }
      }
  
    .number{
      font-size: 0.2rem;
    }
  
    .open_time{
      font-size: 0.12rem;
    }
  }
  
  /* Web情報 */
  .web{
    li{
      .fas{
        margin-right: 5px;
      }
  
      &:first-child{
        margin-bottom: 5px;
        border-bottom: 1px solid $textColor;
        display: inline-block;
      }
  
      .reservation_btn{
        width: 100%;
        height: 60px;
        line-height: 60px;
      }
  
      &:nth-child(3){
        font-size: 0.12rem;
      }
    }
  }
}

/* アクセスのリンク */
.access_of_link{
  color: #1A0CAB;
}

@media (min-width: 600px) {
  /* メインビジュアルと見出し */
  .mv{
    height: 300px;
    h1{
      width: 400px;
      font-size: calc(0.24rem * 100 / 200);
    }
  }

  .reservation{
    display: flex;

    /* 電話番号情報 */
    .phone{
      width: 50%;
  
      .number{
        font-size:calc(0.28rem * 100 / 200);
      }
  
      .open_time{
        font-size: calc(0.14rem * 100 / 200);
      }
    }
  
    /* Web情報 */
    .web{
      width: 50%;
      li{
    
        .reservation_btn{
          height: 80px;
          line-height: 80px;
        }
    
        &:nth-child(3){
          font-size: calc(0.14rem * 100 / 200);
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  /* メインビジュアルと見出し */
  .mv{
    
    h1{
      width: 540px;
      font-size: calc(0.36rem * 100 / 200);
    }
  }

  .lower_page{
    .main_wrapper{
      display: flex;
      justify-content: space-between;

      article{
        width: 70%;
      }

      aside{
        display: block;
        width: 26%;

        .menu_wrapper{
          li{
            a{
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}

/* -------------------------------------------- */
/* トップページ */
/* -------------------------------------------- */
/* メインビジュアル */
.top_mv{
  background: url(../images/mv.jpg) center/cover;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* お知らせ */
  .news_wrapper{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 0.2rem;
    width: 90%;

    .news{
      margin-bottom: 40px;
      time{
        font-size:  calc(0.1rem * 0.9);
        margin: 0 0 5px;
        display: block;
      }

      li{
        border-bottom: 1px dashed $textColor;
        padding: 8px 16px;
      }
    }

    /* アーカイブボタン */
    .btn{
      padding: 20px 0;
      background: #fff;
      border-radius: 4px;
      position: relative;
      transition: ease .2s;
    }
  }
}

@media (min-width: 600px){
  /* メインビジュアル */
  .top_mv{
    min-height: 600px;

    /* お知らせ */
    .news_wrapper{
      width: 70%;
      min-width: 500px;
      .news{
        time{
          font-size:  calc(0.12rem * 100 / 200);
          margin-right: 32px;
          margin-bottom: 0;
          display: inline-block;
        }

        li{
          font-size: calc(0.15rem * 100 / 200);
        }
      }

      /* アーカイブボタン */
      .btn{
        width: 260px;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 1025px){
  /* メインビジュアル */
  .top_mv{

    /* お知らせ */
    .news_wrapper{
      width: 700px;

      .news{
        li{
          font-size: calc(0.16rem * 100 / 200);
        }
      }
    }
  }
}

/* -------------------------------------------- */
/* トップページの診察内容 */
/* -------------------------------------------- */
.contents{
  width: 100%;
  background-color: $mainColor;

  .contents_wrapper{
    background: linear-gradient(rgba(255,255,255, .6), rgba(255,255,255, .6)), url(../images/bg.jpg) center/cover;
    margin: 0 auto 40px;
    padding: 0.2rem 0;
    width: 90%;

    /* 症状 */
    .contents_items_wrapper{
      display: flex;
      flex-wrap: wrap;

      /* 個別の症状 */
      .contents_item{
        width: 49%;
        text-align: center;
        margin-bottom: 24px;

          li:not(:last-child){
            margin-bottom: 16px;
          }

          .contents_item_image{

            img{
              width: 50%;
              height: 50%;
              object-fit: cover;
            }
          }
      }
      .contents_item_more{
        display: inline-block;
      }
    }
  }

   /* 一文と予約用 */
  .middle_info{

    p{
      font-size: calc(0.24rem * 0.9);
      margin-bottom: 0.1rem;
      text-align: center;
    }
  }
}


@media (min-width: 600px){
  .contents{
  
    .contents_wrapper{
      width: 100%;
    }

    /* 一文と予約用 */
    .middle_info{

      p{
        font-size: calc(0.24rem * 100 / 200);
        text-align-last: left;

        br{
          display: none;
        }
      }
    }
  }
}

@media (min-width: 860px){
    /* 一文と予約用 */
  .middle_info{
    display: flex;
    justify-content: space-between;
    align-items: center;

      p{
        font-size: 2.4rem;
        text-align: left;
      }
      .reservation_container{
        justify-content: start;

        .phone_number{
          margin-right: 24px;
        }
      }
  } 
}

@media (min-width: 1025px){
  .contents{
  
    .contents_wrapper{
  
      /* 症状 */
      .contents_items_wrapper{

         /* 個別の症状 */
        .contents_item{
          width: 25%;

            .contents_item_image{

              img{
                width: 120px;
                height: 120px;
                object-fit: cover;
              }
            }

        .contents_item_more{
          font-size: calc(0.16rem * 100 / 200);
          }
        }
      }
    }
  }

   /* 一文と予約用 */
  .middle_info{
      p{
        font-size: 2.4rem;
      }
  }
}

/* -------------------------------------------- */
/* トップページの特徴 */
/* -------------------------------------------- */
.features{
  width: 100%;
  .features_item_wrapper{
    .features_item{
      width: 100%;
      margin-bottom: 0.16rem;

      /* タイトル */
      h3{
        padding-left:1.2em;
        text-indent:-1.2em;
        margin-bottom: 8px;
        text-align: left;

        span{
          font-size: 0.24rem;
        }
      }

      /* 画像 */
      .features_image_wrapper{
        box-shadow: 6px 6px 6px #ddd;
        position: relative;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        /* 文言 */
        .features_text_wrapper{
          background-color: rgba(255, 255, 255, 0.7);
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .features_text{
            padding:  25px;
          }
        }
      }
    }
  }
}


@media (min-width: 600px){
  .features{

    .features_item_wrapper{

      .features_item{
  
        /* タイトル */
        h3{
          padding-left:1.9em;
          text-indent:-1.9em;
          font-size: calc(0.2rem * 100 / 200);
  
          span{
            font-size: calc(0.24rem * 100 / 200);
          }
        }
  
        /* 画像 */
        .features_image_wrapper{
          img{
            width: 100%;
            height: auto;
            max-height: 400px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px){
  .features{
    position: relative;
    
    .features_item_wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      
      .features_item{
        width: 48%;
        
        /* タイトル */
        h3{
          text-align: center;
        }
        
        /* 画像 */
        .features_image_wrapper{
          img{
            height: 290px;
          }
        }
      }
    }

    /* 背景の擬似要素 */
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 410px;
      background-color: $mainColor;
      position: absolute;
      top: 55%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
    }
  }
}

/* -------------------------------------------- */
/* トップページのクリニック紹介 */
/* -------------------------------------------- */
/* about */
.about{
  background-color: $mainColor;

  /* クリニックについて */
  .about_wrapper{
    margin-bottom: 24px;

    .about_clinic{
      width: 100%;

      /* クリニック名 */
      h3{
        margin-bottom: 5px;
        text-align-last: left;
      }
  
      /* 住所 */
      .address_table{
        width: 100%;
        margin-bottom: 10px;
  
        tr{
          display: block;
          margin-bottom: 5px;

          &:last-child{
            margin: 0;
          }
        }

        /* ラベル */
        .table_label{
          background-color: $subColor;
          border: 1px solid $textColor;
          border-radius: 4px;
          width: 70px;
          height: 30px;
          line-height: 30px;
          font-size: 0.12rem;
          text-align: center;
        }
    
        .table_content{
          padding-left: 10px;
        }
      }
    }

    /* 診察日の表 */
    .time_table_wrapper{
      .time_table{
        max-width: 600px;
      }
    }
  }

  /* アクセス */
  .access_wrapper{

    // google-map
    iframe{
      max-width: 100%;
      margin-bottom: 10px;
    }

    /* アクセス方法 */
    h4{
      font-size: calc(0.2rem * 0.9);
      margin-bottom: 5px;
      border-bottom: 1px solid $textColor;
      display: inline-block;

      .fas{
        margin-right: 5px;
        font-size: calc(0.24rem * 0.9);
      }
    }

    p{
      margin-bottom: 16px;
    }

    a{
      color: #1A0CAB;
    }
  }
}

@media (min-width: 600px){
  /* about */
  .about{
  
    /* クリニックについて */
    .about_wrapper{
  
      .about_clinic{
  
        /* クリニック名 */
        h3{
          font-size: calc(0.24rem * 100 / 200)
        }
    
        /* 住所 */
        .address_table{

          /* ラベル */
          .table_label{
            font-size: calc(0.12rem * 100/ 200);
          }
        }
      }

      /* 診察日の表 */
      .time_table_wrapper{
        .time_table{
          width: 100%;
        }
      }
    }
  
    /* アクセス */
    .access_wrapper{
  
      h4{
        font-size: calc(0.2rem * 100 / 200);
  
        .fas{
          font-size: calc(0.24rem * 100/ 200);
        }
      }
  
      a{
        transition: all .4s;;
        &:hover{
          opacity: .7;
        }
      }
    }
  }
}

@media (min-width: 860px){
  /* about */
  .about{

    /* クリニックについて */
    .about_wrapper{
      display: flex;
      align-items: flex-end;
  
      .about_clinic{
        width: 40%;
  
        /* 住所 */
        .address_table{
          margin-bottom: 0px;
        }
      }

      /* 診察日の表 */
      .time_table_wrapper{
        width: 60%;
        .time_table{
          max-width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1025px){
  /* about */
  .about{

    /* クリニックについて */
    .about_wrapper{
      justify-content: space-between;
    }
  }
}

/* -------------------------------------------- */
/* お知らせ */
/* -------------------------------------------- */
/* メインビジュアル */
.news_mv{
  background: url(../images/news_mv.jpg) center/cover;
}

/* 記事内容 */
.news_content{
  margin: 0.16rem 0;
  min-height: 200px;
}

/* 記事タイトル */
.news_title{
  text-align: left;
  margin-bottom: 0;
}

/* 記事の投稿時間 */
.post_time{
  font-size: 12px;  
}

/* ページャー */
.pager_wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* ボタン */
  .prev,
  .next{
    width: 100px;
    text-align: center;
    
    a{
      display: block;
      padding: 8px 10px;
      border-radius: 4px;
      border: 1px solid $textColor;
      transition: all .4s;

      &:hover{
        background-color: $subColor;
      }
    }
  }

  .prev .fas{
    margin-right: 5px;
  }

  .next .fas{
    margin-left: 5px;
  }
}

@media (min-width: 600px){
   /* 記事の投稿時間 */
  .post_time{
    font-size: 14px;  
  }

  /* 記事内容 */
  .news_content{
    min-height: 350px;
  }
}

@media (min-width: 1025px){
  /* 記事内容 */
  .news_content{
    min-height: 550px;
  }
}

/* -------------------------------------------- */
/* お知らせページ一覧 */
/* -------------------------------------------- */

/* メインビジュアル */
.archives_news{

  .archive_wrapper{
    border-bottom: 1px dashed $textColor;

    &:not(:first-child){
      padding-top: 0.2rem;
    }
  
    &:last-of-type{
      margin-bottom: 0.2rem;
    }

    .news_content{
      min-height: auto;
    }
  }
}

/* ページャー */
.navigation{
	
  /* リンクの枠 */
  .nav-links{
    display: flex;
    justify-content: center;

    /* 数字のリンク */
    .page-numbers{
      color: $textColor;
      border: 1px solid $textColor;
      display: inline-block;
      border-radius: 6px;
      padding: 8px 12px;
      transition: .3s;
      margin-right: 8px;
    }

    /* 現在のページ */
    .current{
      background-color: $subColor;
    }
  }

  /* 現在のページとドット以外にホバーした時 */
  .page-numbers:not(.current, .dots):hover{
    background-color:  $textColor;
    color: #fff;
  }
}

@media (min-width: 600px){
  /* ページャー */
  .navigation{
    
    /* リンクの枠 */
    .nav-links{

      /* 数字のリンク */
      .page-numbers{
        padding: 10px 14px;
      }
    }
  }
}

/* -------------------------------------------- */
/* 初めてお越しの方 */
/* -------------------------------------------- */

/* メインビジュアル */
.visitor_mv{
  background: url(../images/visiter_mv.png) center/cover;
}

.flow_list{
  width: 100%;

  .list_item{
    position: relative;
    padding: 0 0 1em 1.1em;

    /* タイトル */
    .flow_list_title{
      font-size: 0.18rem;
      font-weight: bold;
      margin-left: 5px;
    }

    /* 中身 */
    .flow_list_content{
      border-bottom: 1px dashed $textColor;
      padding: 16px 8px;
      
      .text{
        margin-bottom: 20px;
      }
      
      .fee{
        margin-bottom: 20px;
        
        &:last-child{
          margin-bottom: 0;
        }

        /* 料金表 */
        .price_table{
          border-collapse: collapse;
          width: 100%;
          border: 1px solid $textColor;
          font-size: 0.14rem;

          th,td{
            height: 40px;
          }

          th{
            text-align: center;
            background-color: $subColor;
          }
        }

        .fee_attention{
          font-size: 0.12rem;
        }
      }
      
      p{
        margin-bottom: 5px;
      }

      .list{
        border: 3px solid gold;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 4px;
        li{
          .fas{
            margin-right: 5px;
          }
        }
      }

      .hint{
        text-decoration:underline red;
        font-weight: bold;
      }
    }

     /* リストの丸 */
    .flow_list_marker{
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
      width: 16px;
      height: 16px;
      background-color: $accentColor;
      border-radius: 50%;
    }

    /* リストの二番目と三番目の丸 */
    &:nth-child(2) .flow_list_marker:before,
    &:nth-child(3) .flow_list_marker:before{
      background-color: #fff;
      width: 12px;
      height: 12px;
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

     /* 縦の線 */
      &::before{
      content: "";
      width: 3px;
      display: block;
      position: absolute;
      top: 25px;
      left: 6.5px;
      bottom: -2px;
      background: $textColor;
    }

    /* 最後の線 */
    &:last-child::before{
      bottom: 20px;
    }
  }
}

@media (min-width: 600px){

  .flow_list{

    .list_item{
      padding: 0 0 1em 1.5em;

      /* タイトル */
      .flow_list_title{
        font-size: calc(0.24rem * 100 / 200);
      }

      /* 中身 */
      .flow_list_content{
        
        .fee{

          /* 料金表 */
          .price_table{
            font-size: calc(0.16rem * 100 / 200);
            text-align: center;
          }

          .fee_attention{
            font-size: calc(0.14rem * 100 / 200);
          }
        }
      }

      /* リストの丸 */
      .flow_list_marker{
        top: 8px;
        left: 0;
        width: 20px;
        height: 20px;
      }

      /* リストの二番目と三番目の丸 */
      &:nth-child(2) .flow_list_marker:before,
      &:nth-child(3) .flow_list_marker:before{
        width: 16px;
        height: 16px;
      }

      /* 縦の線 */
        &::before{
        top: 33px;
        left: 8.5px;
        bottom: -3px;
      }

      /* 最後の線 */
      &:last-child::before{
        bottom: 20px;
      }
    }
  }

}

/* -------------------------------------------- */
/* 診察のご案内 */
/* -------------------------------------------- */

/* メインビジュアル */
.exam_mv{
  background: url(../images/exam_mv.png) center/cover;
}

/* 診察内容の中身 */
.exam_wrapper{
  display: flex;
  flex-wrap: wrap;

  .exam_item{
    width: 50%;
    text-align: center;
    margin-bottom: 0.16rem;

    .exam_title{
      margin-bottom: 0.04rem;
    }

    .exam_image{
      width: 100%;
      margin-bottom: 0.04rem;

      img{
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
    }
  }
}

.exam_text{
  font-size: 0.16rem;
}


@media (min-width: 600px){

  /* 診察内容の中身 */
  .exam_wrapper{
    justify-content: space-between;

    .exam_item{
      width: 33%;
    }
  }

  .exam_text{
    font-size: calc(0.2rem * 100 / 200);
  }
  
}

/* -------------------------------------------- */
/* 当クリニックについて */
/* -------------------------------------------- */

/* メインビジュアル */
.clinic_mv{
  background: url(../images/clinic_mv.png) center/cover;
}

/* ごあいさつ */
.greeting_wrapper{
  width: 100%;

  h3{
    text-align: left;
    margin-bottom: 8px;
  }

  /* 上の段 */
  .first_wrapper{
    margin-bottom: 0.16rem;

    .doctor_image_wrapper{
      margin-bottom: 0.08rem;
    }
  }

  /* 下の段 */
  .second_wrapper{

    .history_wrapper{
      margin-bottom: 16px;

      h4{
        font-size: 0.16rem;
      }

      /* 略歴の表 */
      .history_table{
        border-collapse: collapse;
        tr{
          width: 100%;
          border-bottom: 1px dashed #ddd;
          
          td:first-child{
            width: 20%;
          }

          td:last-child{
            width: 80%;
          }
        }
      }
    }

    /* 所属学会 */
    .qualification_wrapper{

      ul{
        li{
          border-bottom: 1px dashed #ddd;
          padding: 1px 0;
        }
      }
    }
  }
}

/* クリニック紹介 */
.clinic_wrapper{

  .clinic_gallery_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* 写真 */
    .gallery_image_wrapper{
        width: 49%;

      ul{
        text-align: center;
        margin-bottom: 0.08rem;

        li{
          img{
            width: 100%;
            object-fit: cover;
            transition: all .4s;

            &:hover{
              opacity: .7;
            }
          }

          &:last-child{
            margin-top: 0.04rem;
          }
        }
      }
    }
  }
}

@media (min-width: 600px){

  /* ごあいさつ */
  .greeting_wrapper{

    /* 上の段 */
    .first_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .doctor_image_wrapper{
        width: 42%;
        margin-bottom: 0;
      }

      .doctor_greeting_wrapper{
        width: 55%;

        p{
          font-size: calc(0.15rem * 100 / 200);
        }
      }
    }

    /* 下の段 */
    .second_wrapper{
      display: flex;
      justify-content: space-between;

      .history_wrapper{
        width: 55%;

        h4{
          font-size: calc(0.18rem * 100 / 200);
        }

        .history_table{
          font-size: calc(0.15rem * 100 / 200);

          tr{
            
            td:first-child{
              width: 20%;
            }
  
            td:last-child{
              width: 80%;
            }
          }
        }
      }

      /* 所属学会 */
      .qualification_wrapper{
        width: 42%;

        ul{
          li{
            border-bottom: 1px dashed #ddd;
            padding: 1px 0;
            font-size: calc(0.15rem * 100 / 200);
          }
        }
      }
    }
  }

  /* クリニック紹介 */
  .clinic_wrapper{

    .clinic_gallery_wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      /* 写真 */
      .gallery_image_wrapper{
          width: 49%;

        ul{
          text-align: center;
          margin-bottom: 0.08rem;

          li{
            img{
              width: 100%;
              object-fit: cover;
              transition: all .4s;

              &:hover{
                opacity: .7;
              }
            }

            &:last-child{
              margin-top: 0.04rem;
            }
          }
        }
      }
    }
  }
}

/* -------------------------------------------- */
/* よくあるご質問ページ */
/* -------------------------------------------- */

/* メインビジュアル */
.faq_mv{
  background: url(../images/faq_mv.png) center/cover;
}

.faq{

  .faq_list{
    margin-bottom: 16px;
    width: 100%;
  
    li{
      display: flex;
      align-items: baseline;

      &::before {
        content: "";
        color: $textColor;
        margin: 0 2px 0 0;
      }

      &:first-child{
        background:lightcyan;
        margin-bottom: 8px;
      }

      &:nth-child(2),&:nth-child(3){
        background: beige;
      }
  
      /* Qの文字 */
      &:first-child:before{
        content: "Q.";
        font-size: 0.2rem;
      }
  
      /* Aの文字 */
      &:nth-child(2):before{
        content: "A.";
        font-size: 0.2rem;
      }
    }
  
  }
  .reservation{
    margin-bottom: 16px;
  }
}


@media (min-width: 600px){
  .faq{

    .faq_list{
      margin-bottom: 16px;
      width: 100%;
    
      li{
    
        /* Qの文字 */
        &:first-child:before{
          font-size: calc(0.24rem * 100 / 200)
        }
    
        /* Aの文字 */
        &:nth-child(2):before{
          font-size: calc(0.24rem * 100 / 200)
        }
      }
    }
  }
}

/* -------------------------------------------- */
/* アクセス */
/* -------------------------------------------- */

/* メインビジュアル */
.access_mv{
  background: url(../images/access_mv.png) center/cover;
}

.access{

  iframe{
    margin-bottom: 0.08rem;
  }

  .access_detail{
    h3{
      text-align: left;
      margin-bottom: 5px;
      border-bottom: 1px solid $textColor;
      display: inline-block;
      

      .fas{
        margin-right: 5px;
      }
    }

    p:nth-of-type(3){
      margin-bottom: 0.08rem;
    }
  }

  .around_map_image{
    margin-bottom: 16px;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 600px){
  .access{
  
    .access_detail{
      h3{
        font-size: calc(0.2rem * 100 / 200);
      }
    }
  }
}

/* -------------------------------------------- */
/* お問い合わせ */
/* -------------------------------------------- */

/* メインビジュアル */
.form_mv{
  background: url(../images/form_mv.png) center/cover;
}

/* 表 */
form{
  .form_table{
    border: 1px solid $textColor;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin-bottom: 16px;

    span{
      padding: 4px 8px;
      border-radius: 4px;
      margin-right: 5px;
      // margin-bottom: 8px;
      font-size: 0.12rem;
      display: inline-block;
    }

    .must{
      background-color: $accentColor;
    }

    .free{
      background-color: $mainColor;
    }

    th, td{
      display: block;
      padding: 10px;
    }

    th{
      background-color: $subColor;

      br{
        display: none;
      }
    }
  }

  /* 入力欄 */
  input[type="text"],
  input[type="email"],
  textarea{
    border: 1px solid $textColor;
    border-radius: 4px;
    padding: 8px 10px;
    width: 100%;
  }

  textarea{
    height: 200px;
  }

  /* お問い合わせ内容 */
  input[type="radio"]{
    margin-right: 5px;
  }

  /* 送信ボタン */
  .submit_btn{
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    a{
      padding: 16px;
      display: block;
      transition: all .4s;
      &:hover{
        background: $accentColor;
      }
    }
  }
}

@media (min-width: 600px){

  /* 表 */
  form{
    .form_table{

      span{
        margin-right: 0px;
        margin-bottom: 8px;
        font-size: calc(0.14rem * 100 / 200);
      }

      tr{
        border-bottom: 1px solid $textColor;
      }

      th, td{
        display: table-cell;
      }

      th{
        border-right: 1px solid $textColor;

        br{
          display: block;
        }
      }
    }
    /* 送信ボタン */
    .submit_btn{
      font-size: 20px;
    }
  }
}

/* -------------------------------------------- */
/* 症状別ページ */
/* -------------------------------------------- */

/* メインビジュアル */
.sickness_mv{
  background: url(../images/sickness_mv.png) center/cover;
}

.sickness{
  /* 見出し */
  h3{
    margin-bottom: 0.08rem;
    font-size: 0.2rem;
    text-align: left;
  }

  .sickness_wrapper{
    margin-bottom: 0.16rem;
  }

  /* 画像 */
  .sickness_image_wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 0.16rem;
  

    img{
      width: 50%;
    }
  }

  ul{
    li{
      display: flex;
      align-items: baseline;
      &::before {
        content: "・";
        color: $textColor;
        margin: 0 2px 0 0;
      }
    }
  }
}

/* リンク */
.link_wrapper{

  a{
    margin-right: 16px;
  }
}

@media (min-width: 600px){
  .sickness{
    .sickness_flex_wrapper{
      display: flex;
      align-items: center;
    }

    /* 見出し */
    h3{
      font-size: calc(0.2rem *100/ 200);
    }
  
    /* 画像 */
      .sickness_image_wrapper{
        width: 35%;
      }

      ul{
        width: 65%;
      }
  }
  
  /* リンク */
  .link_wrapper{
  
    a{
      margin-right: 16px;
    }
  }
}
